.advantage {
  background-color: #f6f6f6;
  &_wrapper {
    padding: 75px 0 65px;
    text-align: center;
  }
  &_list {
    display: flex;
    align-items: start;
    margin-top: 70px;
  }
  &_col {
    width: 285px;
    &_icon {
      &_animated {
        animation: heartbeat 1.5s ease infinite;
        &:hover {
          animation-play-state: paused;
        }
      }
    }
    &_title {
      font-size: 18px;
      font-weight: 700;
      margin-top: 35px;
    }
    &_text {
      font-weight: 300;
      font-size: 14px;
      margin-top: 20px;
      span {
        font-family: "MuseoModerno", cursive;
        color: $red;
      }
    }
  }
  &_col + &_col {
    margin-left: 54px;
  }
}
