.promo {
  min-height: 650px;
  padding: 21px 0 0;
  color: #ffffff;
  background: url(../img/bg1.jpg) 12% center/cover no-repeat;

  &__wrapper {
    text-align: right;
    padding: 90px 0 90px;
  }
  &__header {
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
  }
  &__subheader {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 15px;
  }
  &__icons {
    margin: 65px 0 65px;
    display: flex;
    justify-content: end;
  }

  &__icon {
    text-align: center;
    margin-left: 40px;
    span {
      display: block;
      max-width: 120px;
      font-size: 14px;
      margin-top: 16px;
    }
  }
  &__link {
    margin-top: 15px;
    font-size: 16px;
    a {
      text-transform: uppercase;
      color: #fff;
    }
  }
}
