.title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  &_light {
    font-weight: 500;
  }
  &_big {
    font-size: 36px;
    max-width: 800px;
    text-align: left;
  }
}
